.footer{
    background:#0F172A;
    color:white;
    padding:70px 8% 30px;
}
.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:50px;
    flex-wrap:wrap;
}
.footer-brand{
    max-width:350px;
}
.footer-brand h2{
    margin-bottom:15px;
}
.footer-brand p{
    color:#CBD5E1;
    line-height:1.8;
}
.footer-links{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
}
.footer-links a{
    color:#CBD5E1;
    transition:.3s;
    position: relative;
}
.footer-links a:hover{
    color:white;
}
.footer-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background:#2563EB;
    transition:.3s;
}
.footer-links a:hover::after{
    width:100%;
}
.footer-social{
    display:flex;
    gap:20px;
    font-size:1.5rem;
}
.footer-social svg{
    cursor:pointer;
    transition:.3s;
}
.footer-social svg:hover{
    color:#3B82F6;
}
.footer hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.1);
    margin:40px 0 25px;
}
.footer-bottom{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:20px;
    color:#CBD5E1;
}
.footer-bottom a{
    color:#60A5FA;
}
.footer-social a{
    width:45px;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,.08);
    border-radius:50%;
   transition:.3s;
}
.footer-social a:hover{
    background:#2563EB;
   transform:translateY(-3px);
}